################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net5.0
/obj
/.vs/Dealership/DesignTimeBuild
DealerShip.Console/obj/project.nuget.cache
DealerShip.Console/obj/project.nuget.cache
DealerShip.Console/obj/project.assets.json
DealershipLibrary/obj/Debug/net6.0/DealershipLibrary.csproj.FileListAbsolute.txt
DealershipLibrary/obj/project.nuget.cache
DealershipLibrary/obj/Debug/net6.0/ref/DealershipLibrary.dll
Dealership.Blazor/bin/Debug/net6.0/appsettings.Development.json
Dealership.Blazor/bin/Debug/net6.0/appsettings.json
Dealership.Blazor/bin/Debug/net6.0/Dealership.Blazor
Dealership.Blazor/bin/Debug/net6.0/Dealership.Blazor.deps.json
Dealership.Blazor/bin/Debug/net6.0/Dealership.Blazor.dll
Dealership.Blazor/bin/Debug/net6.0/Dealership.Blazor.pdb
Dealership.Blazor/bin/Debug/net6.0/Dealership.Blazor.runtimeconfig.json
Dealership.Blazor/bin/Debug/net6.0/Dealership.Blazor.staticwebassets.runtime.json
Dealership.Blazor/bin/Debug/net6.0/ref/Dealership.Blazor.dll
Dealership.Blazor/obj/Dealership.Blazor.csproj.nuget.dgspec.json
Dealership.Blazor/obj/Dealership.Blazor.csproj.nuget.g.props
Dealership.Blazor/obj/Dealership.Blazor.csproj.nuget.g.targets
Dealership.Blazor/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Dealership.Blazor/obj/Debug/net6.0/apphost
Dealership.Blazor/obj/Debug/net6.0/Dealership.Blazor.AssemblyInfo.cs
Dealership.Blazor/obj/Debug/net6.0/Dealership.Blazor.AssemblyInfoInputs.cache
Dealership.Blazor/obj/Debug/net6.0/Dealership.Blazor.assets.cache
Dealership.Blazor/obj/Debug/net6.0/Dealership.Blazor.csproj.AssemblyReference.cache
Dealership.Blazor/obj/Debug/net6.0/Dealership.Blazor.csproj.CoreCompileInputs.cache
Dealership.Blazor/obj/Debug/net6.0/Dealership.Blazor.csproj.FileListAbsolute.txt
Dealership.Blazor/obj/Debug/net6.0/Dealership.Blazor.dll
Dealership.Blazor/obj/Debug/net6.0/Dealership.Blazor.GeneratedMSBuildEditorConfig.editorconfig
Dealership.Blazor/obj/Debug/net6.0/Dealership.Blazor.genruntimeconfig.cache
Dealership.Blazor/obj/Debug/net6.0/Dealership.Blazor.GlobalUsings.g.cs
Dealership.Blazor/obj/Debug/net6.0/Dealership.Blazor.MvcApplicationPartsAssemblyInfo.cache
Dealership.Blazor/obj/Debug/net6.0/Dealership.Blazor.pdb
Dealership.Blazor/obj/Debug/net6.0/Dealership.Blazor.RazorAssemblyInfo.cache
Dealership.Blazor/obj/Debug/net6.0/Dealership.Blazor.RazorAssemblyInfo.cs
Dealership.Blazor/obj/Debug/net6.0/ref/Dealership.Blazor.dll
Dealership.Blazor/obj/Debug/net6.0/scopedcss/bundle/Dealership.Blazor.styles.css
Dealership.Blazor/obj/Debug/net6.0/scopedcss/projectbundle/Dealership.Blazor.bundle.scp.css
Dealership.Blazor/obj/Debug/net6.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
Dealership.Blazor/obj/Debug/net6.0/scopedcss/Shared/NavMenu.razor.rz.scp.css
Dealership.Blazor/obj/Debug/net6.0/staticwebassets.build.json
Dealership.Blazor/obj/Debug/net6.0/staticwebassets.development.json
Dealership.Blazor/obj/project.assets.json
Dealership.Blazor/obj/project.nuget.cache
Dealership.Blazor/obj/staticwebassets.pack.sentinel
DealerShip.Console/bin/Debug/net6.0/DealerShip.Console
DealerShip.Console/bin/Debug/net6.0/DealerShip.Console.dll
DealerShip.Console/bin/Debug/net6.0/DealerShip.Console.pdb
DealerShip.Console/bin/Debug/net6.0/DealershipLibrary.dll
DealerShip.Console/bin/Debug/net6.0/DealershipLibrary.pdb
DealerShip.Console/obj/DealerShip.Console.csproj.nuget.cache
DealerShip.Console/obj/DealerShip.Console.csproj.nuget.dgspec.json
DealerShip.Console/obj/DealerShip.Console.csproj.nuget.g.props
DealerShip.Console/obj/Debug/net6.0/apphost
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.AssemblyInfo.cs
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.assets.cache
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.csproj.AssemblyReference.cache
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.csproj.CoreCompileInputs.cache
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.csproj.FileListAbsolute.txt
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.dll
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.GeneratedMSBuildEditorConfig.editorconfig
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.genruntimeconfig.cache
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.pdb
DealerShip.Console/obj/project.assets.json
DealerShip.Console/obj/project.nuget.cache
DealershipLibrary/bin/Debug/net6.0/DealershipLibrary.dll
DealershipLibrary/bin/Debug/net6.0/DealershipLibrary.pdb
DealershipLibrary/bin/Debug/net6.0/ref/DealershipLibrary.dll
DealershipLibrary/obj/DealershipLibrary.csproj.nuget.cache
DealershipLibrary/obj/DealershipLibrary.csproj.nuget.dgspec.json
DealershipLibrary/obj/DealershipLibrary.csproj.nuget.g.props
DealershipLibrary/obj/Debug/net6.0/DealershipLibrary.assets.cache
DealershipLibrary/obj/Debug/net6.0/DealershipLibrary.csproj.AssemblyReference.cache
DealershipLibrary/obj/Debug/net6.0/DealershipLibrary.csproj.CoreCompileInputs.cache
DealershipLibrary/obj/Debug/net6.0/DealershipLibrary.csproj.FileListAbsolute.txt
DealershipLibrary/obj/Debug/net6.0/DealershipLibrary.dll
DealershipLibrary/obj/Debug/net6.0/DealershipLibrary.GeneratedMSBuildEditorConfig.editorconfig
DealershipLibrary/obj/Debug/net6.0/DealershipLibrary.pdb
DealershipLibrary/obj/Debug/net6.0/ref/DealershipLibrary.dll
DealershipLibrary/obj/project.assets.json
DealershipLibrary/obj/project.nuget.cache
DealerShip.Console/bin/Debug/net6.0/DealerShip.Console.dll
DealerShip.Console/bin/Debug/net6.0/DealerShip.Console.pdb
DealerShip.Console/bin/Debug/net6.0/DealershipLibrary.dll
DealerShip.Console/bin/Debug/net6.0/DealershipLibrary.pdb
DealerShip.Console/obj/DealerShip.Console.csproj.nuget.dgspec.json
DealerShip.Console/obj/DealerShip.Console.csproj.nuget.g.props
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.AssemblyInfo.cs
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.assets.cache
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.csproj.AssemblyReference.cache
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.csproj.CoreCompileInputs.cache
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.csproj.FileListAbsolute.txt
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.dll
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.GeneratedMSBuildEditorConfig.editorconfig
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.genruntimeconfig.cache
DealerShip.Console/obj/Debug/net6.0/DealerShip.Console.pdb
DealerShip.Console/obj/project.assets.json
DealerShip.Console/obj/project.nuget.cache
DealershipLibrary/bin/Debug/net6.0/DealershipLibrary.dll
DealershipLibrary/bin/Debug/net6.0/DealershipLibrary.pdb
DealershipLibrary/bin/Debug/net6.0/ref/DealershipLibrary.dll
DealershipLibrary/obj/DealershipLibrary.csproj.nuget.dgspec.json
DealershipLibrary/obj/DealershipLibrary.csproj.nuget.g.props
DealershipLibrary/obj/Debug/net6.0/DealershipLibrary.assets.cache
DealershipLibrary/obj/Debug/net6.0/DealershipLibrary.csproj.AssemblyReference.cache
DealershipLibrary/obj/Debug/net6.0/DealershipLibrary.csproj.CoreCompileInputs.cache
DealershipLibrary/obj/Debug/net6.0/DealershipLibrary.csproj.FileListAbsolute.txt
DealershipLibrary/obj/Debug/net6.0/DealershipLibrary.dll
DealershipLibrary/obj/Debug/net6.0/DealershipLibrary.GeneratedMSBuildEditorConfig.editorconfig
DealershipLibrary/obj/Debug/net6.0/DealershipLibrary.pdb
DealershipLibrary/obj/Debug/net6.0/ref/DealershipLibrary.dll
DealershipLibrary/obj/project.assets.json
DealershipLibrary/obj/project.nuget.cache
.vs/Dealership/v17/.suo
.vs/Dealership/v17/.futdcache.v1
.vs/Dealership/v17/.futdcache.v1
.vs/Dealership/v17/.suo
