@page "/"
@using DealershipLibrary.Vehicle.Cars
@using DealershipLibrary

<h1>Shaden's Dealership</h1>

<span>
    <select @onchange="(e)=>SelectVehicle(e.Value.ToString())">
        @foreach (var item in vehicleTypesList)
        {
            <option value="@item">@item</option>
        }
    </select>

    <span>@message</span>

    @if (vehicle == VehicleTypes.Car)
    {
        <CarComponent OnClick="@vehicleAdded"></CarComponent> //Car component 
    }
    else if(vehicle == VehicleTypes.Motorcycle)
    {
        <MotorcycleComponent OnClick="vehicleAdded"></MotorcycleComponent> //Motorcycle component 
    }
    else if(vehicle == VehicleTypes.Truck)
    {
        <TruckComponent OnClick="vehicleAdded"></TruckComponent> //Truck component  
    }

</span>

@*<span>
    @foreach(var v in list)
    {
        
    }
</span>
*@

@code
{
    List<string> vehicleTypesList = Extensions.GetEnumItems(typeof(VehicleTypes));
    //private Car list { get; set; } = new Car();

    string message;
    VehicleTypes vehicle;
    void SelectVehicle(string value)
    {
        this.vehicle = (VehicleTypes)System.Enum.Parse(typeof(VehicleTypes), value);
    }

    void vehicleAdded(string value)
    {
        this.message = value;
    }
}