@page "/"
@using DealershipLibrary.Vehicle.Cars
@using DealershipLibrary

<h1>Shaden's Dealership</h1>

@{
    var vehicleTypesList = Extensions.GetEnumItems(typeof(VehicleTypes));
}

<span>  
    @* <span @onchange="(e)=>SelectVehicle(e.Value.ToString())">
        @foreach (var item in vehicleTypesList)
        {
            <option value = "@item">@item</option>
        }
    </span>
     *@

    <a href="Car" class="button-css">Car</a>
    <a href="motorcycle" class="button-css">Motorcycle</a>
    <a href="truck" class="button-css">Truck</a>

    @if (vehicle == VehicleTypes.Car) 
    {
        @*go to car page*@
    }
    else if (vehicle == VehicleTypes.Motorcycle)
    {
        @*go to MC page*@
    }
    else if(vehicle == VehicleTypes.Truck)
    {
        @*go to truck page*@   
    } 
    
</span>


@code
{
    VehicleTypes vehicle;
    void SelectVehicle(string value)
    {
        this.vehicle = (VehicleTypes)System.Enum.Parse(typeof(VehicleTypes), value);
    }
}
