@page "/motorcycle"
@using DealershipLibrary.Vehicle.Cars
@using DealershipLibrary

<h1>Motorcycle</h1>
@{
    var mcModelsList = Extensions.GetEnumItems(typeof(MCModels));
    var mcColorsList = Extensions.GetEnumItems(typeof(MCColors));

}    
    <select @onchange="(e)=>SelectColor(e.Value.ToString())">
        @foreach (var item in mcColorsList)
        {
            <option value = "@item">@item</option>
        }
    </select>

    <select @onchange="(e)=>SelectModel(e.Value.ToString())">
        @foreach (var item in mcModelsList)            {
                <option value = "@item">@item</option>
            }
    </select>


@*<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@

@code {
    MCColors color;
    void SelectColor(string value)
    {
        this.color = (MCColors)System.Enum.Parse(typeof(MCColors), value);
    }

    MCModels model;
    void SelectModel(string value)
    {
        this.model = (MCModels)System.Enum.Parse(typeof(MCModels), value);
    }
}