@page "/"

@using Syncfusion.Blazor
@using Newtonsoft.Json
@using DealershipLibrary

<PageTitle>Index</PageTitle>


<div class="control-section col-lg-12">
    <div class="col-lg-8">
        <div class="control-wrapper">
            <SfDropDownList TItem="ddList" TValue="string" PopupHeight="230px"  Placeholder="Select a 
                vehicle" @bind-Value="@DropDownValue" DataSource="@Vehicles">
                <DropDownListEvents TItem="VehicleFields" TValue="string" ValueChange="OnChange"></DropDownListEvents>
                <DropDownListFieldSettings Text="Text" Value="Id"></DropDownListFieldSettings>
            </SfDropDownList>
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <div class="property-panel-header">Properties</div>
        <table id="property" title="Properties">
            <tr>
                <td class="property-label">Value</td>
                <td>:<span id='value' class="property-value">@DropDownValue</span></td>
            </tr>
            <tr>
                <td class="property-label">Text</td>
                <td>:<span id='text' class="property-value">@ChangeValue</span></td>
            </tr>
        </table>
    </div>
</div>
<style>
    .control-wrapper {
        width: 250px;
        margin: 0 auto;
        padding-top: 70px;
    }
    .property-section .property-value {
        padding-left: 10px;
    }
    .property-section .property-label {
        padding: 5px;
        width: 25%
    }
    #property {
        width: 100%;
        margin: 10px
    }
</style>


@code{
        public class VehicleFields
        {
            //public string ID { get; set; } = enumvalues[1];
            //public string Text { get; set;}= 
            public static string [] enumvalues { get; set;} = Enum.GetValues(typeof(VehicleTypes);
        }

            private List<VehicleFields> Vehicles = new List<VehicleFields>()
            {
               new VehicleFields(){enumvalues[1], Enum.GetName(typeof(VehicleTypes), 1)}
            };


            public string ChangeValue { get; set; } = "";
            public string DropDownValue { get; set; } = "";
        
            public void ddList() 
            {

                List<VehicleTypes> VList = null;

                Extensions.GetEnumItems(typeof(VehicleTypes));

                var c = Enum.GetNames(typeof(VehicleTypes)).Length;
            }

            public void OnChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, VehicleFields> args)
            {
                    this.ChangeValue = args.ItemData.Text;
            }
}
 
