@page "/admin"
@using DealershipLibrary.Vehicle
@using DealershipLibrary.Vehicle.Cars
@using DealershipLibrary
@using System.Collections.Generic
@using System.ComponentModel.DataAnnotations;
@using Microsoft.Extensions.Logging

<div>
    <h3>Admin</h3>
    <AuthorizeView Roles="admin">
            <p>Hello Admin</p>
    </AuthorizeView>
</div>

@code {

}
