@page "/redirect"
@using System.ComponentModel.DataAnnotations

<body>
    <div>
        <p>
            <h6>Please Register/Login :)</h6>
            <LoginDisplay></LoginDisplay>
        </p>
    </div>
</body>

